name: Build Windows EXE & Release

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # REQUIRED for tags

      - name: Set release version
        id: version
        run: |
          echo "VERSION=v1.1" >> $env:GITHUB_ENV

      - name: Create Git tag
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git tag $env:VERSION
          git push origin $env:VERSION

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Flutter pub get
        run: flutter pub get

      - name: Enable Windows
        run: flutter config --enable-windows-desktop

      - name: Build Windows EXE
        run: flutter build windows --release

      - name: Zip EXE
        run: |
          mkdir release
          powershell Compress-Archive `
            build/windows/x64/runner/Release/* `
            release/windows-exe.zip

      - name: Create GitHub Release & Upload EXE
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.VERSION }}
          name: Release ${{ env.VERSION }}
          files: release/windows-exe.zip
